<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.yinhua.admin.mapper.AdminModelNoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.yinhua.admin.entity.ModelNote">
        <id column="id" property="id" />
        <result column="num" property="num" />
        <result column="text" property="text" />
        <result column="image" property="image" />
        <result column="name" property="name" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", num AS "num", text AS "text", image AS "image", name AS "name", created_time AS "createdTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.yinhua.admin.model.result.ModelNoteResult" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.ModelNoteParam">
        select
        <include refid="Base_Column_List"/>
        from model_note where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.num != null and paramCondition.num != ''">
                and num like CONCAT('%',#{paramCondition.num},'%')
            </if>
            <if test="paramCondition.text != null and paramCondition.text != ''">
                and text like CONCAT('%',#{paramCondition.text},'%')
            </if>
            <if test="paramCondition.image != null and paramCondition.image != ''">
                and image like CONCAT('%',#{paramCondition.image},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.ModelNoteParam">
        select
        <include refid="Base_Column_List"/>
        from model_note where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.num != null and paramCondition.num != ''">
                and num like CONCAT('%',#{paramCondition.num},'%')
            </if>
            <if test="paramCondition.text != null and paramCondition.text != ''">
                and text like CONCAT('%',#{paramCondition.text},'%')
            </if>
            <if test="paramCondition.image != null and paramCondition.image != ''">
                and image like CONCAT('%',#{paramCondition.image},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.yinhua.admin.model.result.ModelNoteResult" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.ModelNoteParam">
        select
        <include refid="Base_Column_List"/>
        from model_note where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.num != null and paramCondition.num != ''">
                and num like CONCAT('%',#{paramCondition.num},'%')
            </if>
            <if test="paramCondition.text != null and paramCondition.text != ''">
                and text like CONCAT('%',#{paramCondition.text},'%')
            </if>
            <if test="paramCondition.image != null and paramCondition.image != ''">
                and image like CONCAT('%',#{paramCondition.image},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.ModelNoteParam">
        select
        <include refid="Base_Column_List"/>
        from model_note where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.num != null and paramCondition.num != ''">
                and num like CONCAT('%',#{paramCondition.num},'%')
            </if>
            <if test="paramCondition.text != null and paramCondition.text != ''">
                and text like CONCAT('%',#{paramCondition.text},'%')
            </if>
            <if test="paramCondition.image != null and paramCondition.image != ''">
                and image like CONCAT('%',#{paramCondition.image},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

</mapper>
