<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.yinhua.admin.mapper.AdminOrderConstLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.yinhua.admin.entity.OrderConstLog">
        <result column="order_num" property="orderNum" />
        <result column="kickback" property="kickback" />
        <result column="last_const" property="lastConst" />
        <result column="created_time" property="createdTime" />
        <result column="consts" property="consts" />
        <result column="make_up" property="makeUp" />
        <result column="sceen_const" property="sceenConst" />
        <result column="note" property="note" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_num AS "orderNum", kickback AS "kickback", last_const AS "lastConst", created_time AS "createdTime", consts AS "consts", make_up AS "makeUp", sceen_const AS "sceenConst", note AS "note"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.yinhua.admin.model.result.OrderConstLogResult" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.OrderConstLogParam">
        select
        <include refid="Base_Column_List"/>
        from order_const_log where 1 = 1
            <if test="paramCondition.orderNum != null and paramCondition.orderNum != ''">
                and order_num like CONCAT('%',#{paramCondition.orderNum},'%')
            </if>
            <if test="paramCondition.kickback != null and paramCondition.kickback != ''">
                and kickback like CONCAT('%',#{paramCondition.kickback},'%')
            </if>
            <if test="paramCondition.lastConst != null and paramCondition.lastConst != ''">
                and last_const like CONCAT('%',#{paramCondition.lastConst},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
            <if test="paramCondition.consts != null and paramCondition.consts != ''">
                and consts like CONCAT('%',#{paramCondition.consts},'%')
            </if>
            <if test="paramCondition.makeUp != null and paramCondition.makeUp != ''">
                and make_up like CONCAT('%',#{paramCondition.makeUp},'%')
            </if>
            <if test="paramCondition.sceenConst != null and paramCondition.sceenConst != ''">
                and sceen_const like CONCAT('%',#{paramCondition.sceenConst},'%')
            </if>
            <if test="paramCondition.note != null and paramCondition.note != ''">
                and note like CONCAT('%',#{paramCondition.note},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.OrderConstLogParam">
        select
        <include refid="Base_Column_List"/>
        from order_const_log where 1 = 1
            <if test="paramCondition.orderNum != null and paramCondition.orderNum != ''">
                and order_num like CONCAT('%',#{paramCondition.orderNum},'%')
            </if>
            <if test="paramCondition.kickback != null and paramCondition.kickback != ''">
                and kickback like CONCAT('%',#{paramCondition.kickback},'%')
            </if>
            <if test="paramCondition.lastConst != null and paramCondition.lastConst != ''">
                and last_const like CONCAT('%',#{paramCondition.lastConst},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
            <if test="paramCondition.consts != null and paramCondition.consts != ''">
                and consts like CONCAT('%',#{paramCondition.consts},'%')
            </if>
            <if test="paramCondition.makeUp != null and paramCondition.makeUp != ''">
                and make_up like CONCAT('%',#{paramCondition.makeUp},'%')
            </if>
            <if test="paramCondition.sceenConst != null and paramCondition.sceenConst != ''">
                and sceen_const like CONCAT('%',#{paramCondition.sceenConst},'%')
            </if>
            <if test="paramCondition.note != null and paramCondition.note != ''">
                and note like CONCAT('%',#{paramCondition.note},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.yinhua.admin.model.result.OrderConstLogResult" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.OrderConstLogParam">
        select
        <include refid="Base_Column_List"/>
        from order_const_log where 1 = 1
            <if test="paramCondition.orderNum != null and paramCondition.orderNum != ''">
                and order_num like CONCAT('%',#{paramCondition.orderNum},'%')
            </if>
            <if test="paramCondition.kickback != null and paramCondition.kickback != ''">
                and kickback like CONCAT('%',#{paramCondition.kickback},'%')
            </if>
            <if test="paramCondition.lastConst != null and paramCondition.lastConst != ''">
                and last_const like CONCAT('%',#{paramCondition.lastConst},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
            <if test="paramCondition.consts != null and paramCondition.consts != ''">
                and consts like CONCAT('%',#{paramCondition.consts},'%')
            </if>
            <if test="paramCondition.makeUp != null and paramCondition.makeUp != ''">
                and make_up like CONCAT('%',#{paramCondition.makeUp},'%')
            </if>
            <if test="paramCondition.sceenConst != null and paramCondition.sceenConst != ''">
                and sceen_const like CONCAT('%',#{paramCondition.sceenConst},'%')
            </if>
            <if test="paramCondition.note != null and paramCondition.note != ''">
                and note like CONCAT('%',#{paramCondition.note},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.OrderConstLogParam">
        select
        <include refid="Base_Column_List"/>
        from order_const_log where 1 = 1
            <if test="paramCondition.orderNum != null and paramCondition.orderNum != ''">
                and order_num like CONCAT('%',#{paramCondition.orderNum},'%')
            </if>
            <if test="paramCondition.kickback != null and paramCondition.kickback != ''">
                and kickback like CONCAT('%',#{paramCondition.kickback},'%')
            </if>
            <if test="paramCondition.lastConst != null and paramCondition.lastConst != ''">
                and last_const like CONCAT('%',#{paramCondition.lastConst},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
            <if test="paramCondition.consts != null and paramCondition.consts != ''">
                and consts like CONCAT('%',#{paramCondition.consts},'%')
            </if>
            <if test="paramCondition.makeUp != null and paramCondition.makeUp != ''">
                and make_up like CONCAT('%',#{paramCondition.makeUp},'%')
            </if>
            <if test="paramCondition.sceenConst != null and paramCondition.sceenConst != ''">
                and sceen_const like CONCAT('%',#{paramCondition.sceenConst},'%')
            </if>
            <if test="paramCondition.note != null and paramCondition.note != ''">
                and note like CONCAT('%',#{paramCondition.note},'%')
            </if>
    </select>

</mapper>
