<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.yinhua.admin.mapper.PrintLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.yinhua.admin.entity.PrintLog">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="status" property="status" />
        <result column="created_time" property="createdTime" />
        <result column="order_num" property="orderNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", name AS "name", url AS "url", status AS "status", created_time AS "createdTime",order_num as 'orderNum'
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.yinhua.admin.model.result.PrintLogResult" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.PrintLogParam">
        select
        <include refid="Base_Column_List"/>
        from print_log where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.url != null and paramCondition.url != ''">
                and url like CONCAT('%',#{paramCondition.url},'%')
            </if>
            <if test="paramCondition.status != null and paramCondition.status != ''">
                and status like CONCAT('%',#{paramCondition.status},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.PrintLogParam">
        select
        <include refid="Base_Column_List"/>
        from print_log where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.url != null and paramCondition.url != ''">
                and url like CONCAT('%',#{paramCondition.url},'%')
            </if>
            <if test="paramCondition.status != null and paramCondition.status != ''">
                and status like CONCAT('%',#{paramCondition.status},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.yinhua.admin.model.result.PrintLogResult" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.PrintLogParam">
        select
        <include refid="Base_Column_List"/>
        from print_log where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.url != null and paramCondition.url != ''">
                and url like CONCAT('%',#{paramCondition.url},'%')
            </if>
            <if test="paramCondition.status != null and paramCondition.status != ''">
                and status like CONCAT('%',#{paramCondition.status},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.yinhua.admin.model.params.PrintLogParam">
        select
        <include refid="Base_Column_List"/>
        from print_log where 1 = 1
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
            <if test="paramCondition.url != null and paramCondition.url != ''">
                and url like CONCAT('%',#{paramCondition.url},'%')
            </if>
            <if test="paramCondition.status != null and paramCondition.status != ''">
                and status like CONCAT('%',#{paramCondition.status},'%')
            </if>
            <if test="paramCondition.createdTime != null and paramCondition.createdTime != ''">
                and created_time like CONCAT('%',#{paramCondition.createdTime},'%')
            </if>
    </select>

</mapper>
